<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.styleru.hseday">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".Application"
        android:allowBackup="true"
        android:configChanges="keyboardHidden|orientation"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/crow_icon"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAZygfR-4KMkw83XvtRLof5tLQiNb_ubLg" />

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.vk.sdk.VKServiceActivity"
            android:label="ServiceActivity"
            android:theme="@style/VK.Transparent" />
        <activity
            android:name=".AboutFacultyActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AboutOrganisationActivity"
            android:label="@string/title_activity_about_organisation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DialogFragments.ActivityLection"
            android:label="ActivityLection"
            android:screenOrientation="portrait" />
        <activity android:name=".DialogFragments.ActivityTent" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity android:name=".ActivityLogin" />
        <activity
            android:name=".ActivityComments"
            android:label="@string/title_activity_comments" />
        <activity
            android:name=".ActivityAddComment"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".SplashActivity" />
    </application>

</manifest>